HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.setting
.soner
*.mdb
*.ldb
*.com
*.class
*.dll
*.exe
*.so
*.dmg
*.7z
*.gz
*.zip
*.rar
*.jar
*.tar
*.tem
*.err
*.log

/log/**
!/log/

### image ###
*.jpg

### macOS ###
.DS_Store